body {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    height: 100vh;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
}